<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/meta_links.ejs") %>
    <title>Joc</title>
    <meta name="keywords" content="Error , 404 , 404 Error, Nothing here, Page not found">
    <meta name="description" content="Disaster, how did you end up trying to access a page that doesn't exist? ">
    <link rel="stylesheet" href="../../resurse/style/joc_pogg.css">
</head>
<%- include("../fragmente/header.ejs") %>   <!-- Intoarce rezultatul funtiei apelate, cazul asta include-->
<body>
<main>
    <h2 id="Title"><%- locals.produse.nume_joc%></h2>
    <figure class="joc_pogg">
        <picture id="imagine_joc">
            <source srcset="<%- locals.produse.imagini_mici %>" media="(max-width:700px)"/>
            <source srcset="<%- locals.produse.imagini_medii %>" media="(max-width:1200px)"/>
            <img src=<%- locals.produse.imagini %> alt="<% locals.produse.nume_joc%>" title="<% locals.produse.descriere%>">
        </picture>
        <p id="pret_joc">Price: <%- locals.produse.pret%>$</p>
    </figure>
</main>
<%- include("../fragmente/footer.ejs") %>
<script src="../../resurse/style/main.js"></script>
</body>
</html>
