<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/meta_links.ejs") %>
    <title>Jocuri</title>
    <meta name="keywords" content="Error , 404 , 404 Error, Nothing here, Page not found">
    <meta name="description" content="Disaster, how did you end up trying to access a page that doesn't exist? ">
    <link rel="stylesheet" href="../../resurse/style/jocuri_pogg.css">

</head>
<%- include("../fragmente/header.ejs") %>   <!-- Intoarce rezultatul funtiei apelate, cazul asta include-->
<body>
<main>
    <h2 id="Title">Jocuri</h2>
    <section class="jocuri_pogg_service">
        <%var how_many_photos=0;%>
        <% for (let imag of locals.produse){%>
        <article>
            <figure class="jocuri_pogg">
                <picture>
                    <source srcset="<%- imag.imagini_mici %>" media="(max-width:700px)"/>
                    <source srcset="<%- imag.imagini_medii %>" media="(max-width:1200px)"/>
                    <img src=<%- imag.imagini %> alt="<%imag.nume_joc%>" title="<%imag.descriere%>">
                </picture>
                <a href="/joc/<%- imag.id_joc%>">
                    <figcaption><%-imag.nume_joc%></figcaption>
                    <p>Price: <%- imag.pret%>$</p>
                </a>
            </figure>
            <%how_many_photos++;%>
        </article>
        <%}%>
    </section>
</main>
<div class="pagebreak"> </div>
<%- include("../fragmente/footer.ejs") %>
<script src="../../resurse/style/main.js"></script>
</body>
</html>
