<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/meta_links.ejs") %>
    <title>Jocuri</title>
    <meta name="keywords" content="Error , 404 , 404 Error, Nothing here, Page not found">
    <meta name="description" content="Disaster, how did you end up trying to access a page that doesn't exist? ">
    <link rel="stylesheet" href="../../resurse/style/jocuri_pogg.css">

</head>
<%- include("../fragmente/header.ejs") %>   <!-- Intoarce rezultatul funtiei apelate, cazul asta include-->
<body>
<main>
    <h2 id="Title">Games</h2>
    <article class="articol">
        <section class="jocuri_pogg_service">
            <% for (let imag of locals.produse){%>
            <a href="/joc/<%- imag.id_joc%>">
                <figure class="jocuri_pogg">
                    <h3 class="nume_joc"><%-imag.nume_joc%></h3>
                    <picture class="game_image">
                        <source srcset="<%- imag.imagini_mici %>" media="(max-width:700px)"/>
                        <source srcset="<%- imag.imagini_medii %>" media="(max-width:1200px)"/>
                        <img src="<%- imag.imagini_medii %>" alt="<%imag.nume_joc%>" title="<%imag.descriere%>">
                    </picture>
                    <table class="categori_table">
                        <tr>
                            <th>Price</th>
                            <th><%- imag.pret%>$</th>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <th><%- imag.pret%></th>
                        </tr>
                        <tr>
                            <th>Genre</th>
                            <th><%- imag.gen_joc%></th>
                        </tr>
                        <tr>
                            <th>Launch</th>
                            <%
                            const monthNames = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie",
                            "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
                            const weekday = ["Monday", "Tuesday", "Wednesday", "Joi", "Vineri", "Sambata", "Duminica"];
                            var date=new Date(imag.data_de_lansare);
                            var day=date.getDate();
                            var month=monthNames[date.getMonth()];
                            var year=date.getFullYear();
                            var week_day=weekday[date.getDay()];%>
                            <th><%- day%>(<%-week_day%>)/<%-month%>/<%-year%></th>
                        </tr>
                        <tr>
                            <th>Sales</th>
                            <th><%- imag.reducere%></th>
                        </tr>
                    </table>
                    <p class="descriere_joc"><%- imag.descriere%></p>
                    <%if(imag.este_joc===true){%>
                        <p class="este_joc">Category:Game</p>
                    <%}
                    else{%>
                        <p class="este_joc">Category:Equipment</p>
                    <%}%>
                    <p class="joc_id">Id:ent<%-imag.id_joc%></p>
                </figure>
            </a>
            <%}%>
        </section>
    </article>
</main>
<div class="pagebreak"> </div>
<script src="../../resurse/style/main.js"></script>
</body>
</html>
